core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
kaggle.json
.venv/
feature_suggestions.md
/reports/figures/
feature_handling_diameter_miss_distance.md
temp.txt